.myProfile {
	width: 50%;
	margin: 50px auto;
}

.myPosts {
	width: 60%;
	margin: 50px auto;
}

.myMenu {
	width: 60%;
	margin: 50px auto;
}

.navbar-custom {
	background-color:#0069d9;
	color:#f7f7f7;
	border-radius:0;
}